<section>
  <p>Welcome to the Rainbow SDK Integration!</p>
  @if (isConnected) {
    <p><b>You are connected to Rainbow!</b></p>
  } @else {
  <button class="btn btn-primary" (click)="connect()">Connect to Rainbow</button>
  }
</section>

<section *ngIf="isConnected">
  <h2>Your Contacts:</h2>
  <ul>
    <li *ngFor="let contact of contacts">
        <button class="list-btn" (click)="getMessages(contact)">{{ contact.displayName }}</button>
        <button (click)="callingService.makeAudioCall(contact)">Call</button>
        <button (click)="callingService.makeVideoCall(contact)">Video Call</button>
    </li>
  </ul>
</section>

<section *ngIf="messages && messages.length > 0">
  <h2>Messages:</h2>
  <div class="messages-section" #messagesContainer>
    <ul>
      <li *ngFor="let message of messages" [ngStyle]="{'justify-content': message.from.displayName === connectedUser.displayName ? 'flex-end' : 'flex-start'}">
        <p class="msg-p">
          <b>{{ message.from.displayName }}:</b>
            @if (message.data) {
              <span>{{ message.data }}</span>}
            @else {
              <span><i>Deleted message</i></span>
            }
          </p>
      </li>
    </ul>
  </div>
  <div class="message-input-container">
    <input type="text" class="message-input" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type your message here..." />
    <button (click)="sendMessage()">Send</button>
  </div>
</section>

<section class="call-modal" *ngIf="conversation">
  <h2>Current Call:</h2>
  <div *ngIf="conversation">
    <img [src]="conversation.call.avatars[0]" alt="Caller Avatar" class="caller-avatar" />
    <p><b>{{ conversation.filterName }}</b></p>

    @if (conversation.call.status.value === 'incommingCall') {
      <p>Incoming call...</p>
      <button (click)="callingService.answerCall(conversation.call, true)">Answer</button>
    } @else if (conversation.call.status.value === 'dialing') {
      <p>Dialing call...</p>
    }
    <button (click)="callingService.releaseCall(conversation.call)">Hang up</button>
  </div>
</section>